@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.2s linear;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #959aa0;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  padding: 2rem;
  color: #fff;
}

.main {
  display: flex;
  align-items: center;
  padding-bottom: 65px;
}

.main h2 {
  font-size: 2rem;
  color: #fff;
  margin-right: 1.5rem;
  padding: 15px;
  text-transform: capitalize;
  margin-left: 30px;
}

form button {
  padding: 0.2rem;
  margin-top: 1rem;
  margin-left: 60%;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 7px;
}

.main button {
  font-size: 1rem;
  outline: none;
  border: 1px solid #333;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.add {
  margin: 0 70px;
  align-items: center;
}

.leaderboard {
  display: flex;
  align-items: center;
}

.score {
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.scorelist {
  list-style: none;
  background-color: #bdcddd;
  font-size: 2rem;
  border: 2px solid #2b2b2b;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  width: 50%;
  height: 30%;
}

.scorelist li {
  margin: 10px;
  border-radius: 8px;
  padding: 2px;
}

.scorelist li:nth-child(odd) {
  background-color: #464849;
  color: #fff;
}

.scorelist li:nth-child(even) {
  background-color: #fff;
  color: #534f4f;
}

form {
  width: 25%;
}

form input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  section {
    margin: 1rem 2rem;
  }

  .main {
    flex-direction: column;
  }

  .leaderboard {
    margin: 1rem 0;
  }

  .leaderboard h2 {
    font-size: 1.8rem;
  }

  .add h2 {
    font-size: 1.8rem;
  }

  .scores {
    flex-direction: column;
  }
}
